 
body {
    font-family: 'Roboto-light', sans-serif;
    margin: 0px;
}

#page{
    display: flex;
    min-height: 100vh;
    background: url('./img/background.jpeg');
    background-size:100% 100%;
    align-items: center;
}
#pageLeft{
    flex:1;
    display:flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 30px;
    margin: 30px;
}
#currWeather{
    display:flex;
}
#pageRight{
    flex:1;
    display: flex;
    flex-direction: column;
}
#forecast{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:30px;
}
.dayTile{
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 30px;
}